
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#customers{
    width: 100%;
    max-width: 1000px;
    margin-left: 50px;
    box-sizing: border-box;
    height: auto;
    border-radius: 10px; 
    background-color: #ffffff; 

    .thead{
        margin-bottom: -2px;
        height: 58px;
        background: rgba(1, 56, 77, 1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        th{
            font-family:sans-serif;
            color: rgba(255, 255, 255, 1);
font-size: 15px;
font-weight: 600;
line-height: 18.29px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

        }
    }
}
tr{
    
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
color: rgb(0, 0, 0);
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
border: 1px solid rgba(1, 56, 77, 1)
 
}
td{
  width: 20px;
  svg{
    cursor: pointer;
  }
 button{
    border: 0;
    background: 0;
    cursor: pointer;
    font-size: 20px;
 }   
}
.img_flex{
    width: 60px;
    height: 50px;
    img{
        object-fit: cover;
        width: 50px;
        height: 50px;
    }
}
.form2{

    text-align: center;
}
.admin_flex{
    .out{
        display: flex ;
    }
    height: 100vh;
    gap: 10px;
display: grid;
grid-template-columns: 300px 1fr;
align-items: center;
.navbar{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(1, 56, 77, 1); 
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 0 20px; 
    height: 70px;background: rgba(1, 56, 77, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav{
     gap: 120px;
     padding: 20px;
     display: flex;
     align-items: center;
     .Logo{
        height: 69px;
        display: flex;
        align-items: center;
        justify-content: center;
       }
    }
}
}
.admin_dashboard{
    background: rgba(1, 56, 77, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.btns{
    padding-top: 10px;
    width: 100%;
    .Link{
        outline: 0 !important;
        text-decoration: none !important;
     }
    button{
   
    width: 100%;
    height: 50px;
    top: 70px;
    gap: 10px;
    opacity: 0px;
    display: flex;
    align-items: center;
    padding: 30px;
    padding-left: 40px;
    gap: 10px;
    cursor: pointer;
    background: 0;
    border: 0;
    color: white;
    font-family:sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

    svg{
        color: white;
    }
    h4{
        color: white;
    }
    }
}

.btn1:focus{
background: rgba(234, 191, 159, 1);
}

    .button-85 {
        margin-left: 50px;
        margin-bottom: 10px;
      padding: 0.6em 2em;
      border: none;
      outline: none;
      color: rgb(255, 255, 255);
      background: #111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-85:before {
      content: "";
      background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
      );
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      -webkit-filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing-button-85 20s linear infinite;
      transition: opacity 0.3s ease-in-out;
      border-radius: 10px;
    }
    
    @keyframes glowing-button-85 {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }
    
    .button-85:after {
      z-index: -1;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #222;
      left: 0;
      top: 0;
      border-radius: 10px;
    }
